<div class="container">
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th>CityID</th>
                <th>City Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let city of cities">
                <td>{{city.cityID}}</td>
                <td>{{city.cityName}}</td>
                <td>
                    <!-- <button class="btn btn-info" (click)="getId(city.cityID)">Edit</button> &nbsp;
                    <button class="btn btn-primary" (click)="delete(city.cityID)">Delete</button> &nbsp;
                    <button class="btn btn-secondary" (click)="getId(city.cityID)">View</button> -->
                </td>
            </tr>
        </tbody>
    </table>
</div>