<div class="container">
    <table class="table">
        <tr>
            <td>Coupon ID</td>
            <td>
                <input type="number" [(ngModel)]="coupon.couponID">
            </td>
        </tr>
        <tr>
            <td>Code</td>
            <td>
                <input type="text" [(ngModel)]="coupon.code">
            </td>
        </tr>
        <tr>
            <td>Discount</td>
            <td>
                <input type="number" [(ngModel)]="coupon.discount">
            </td>
        </tr>
        <tr>
            <td>Expiration Date</td>
            <td>
                <input type="Date" [(ngModel)]="coupon.expirationDate">
            </td>
        </tr>
        <tr>
            <td>Description</td>
            <td>
                <input type="text" [(ngModel)]="coupon.description">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button (click)="addCoupon()">Add</button>
            </td>
        </tr>

    </table>
</div>