<div class="container">
    <table class="table">
        <!-- <tr>
            <td>Multiplex ID</td>
            <td>
                <input type="number" [(ngModel)]="multiplex.mulID">
            </td>
        </tr> -->
        <tr>
            <td>Multiplex Name</td>
            <td>
                <input type="text" [(ngModel)]="multiplex.mulName">
            </td>
        </tr>
        <tr>
            <td>City ID</td>
            <td>
                <input type="number" [(ngModel)]="multiplex.cityID">
            </td>
        </tr>
        <tr>
            <td>Screen Number</td>
            <td>
                <input type="number" [(ngModel)]="multiplex.screenNumber">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button (click)="addMultiplex()">Add</button>
            </td>
        </tr>

    </table>
</div>