.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .register-form {
    width: 50%;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .btn-warning {
    background-color: #ffc107;
    color: #000;
    border: none;
  }
  
  .btn-warning:hover {
    background-color: #d39e00;
  }
  
  .btn-info {
    background-color: #17a2b8;
    color: #fff;
    border: none;
  }
  
  .btn-info:hover {
    background-color: #117a8b;
  }
  
  .invalid-feedback {
    color: red;
    font-size: 12px;
  }
  
  .float-right {
    float: right;
  }
  