<div class="container">
    <table class="table">
        <!-- <tr>
            <td>CityID</td>
            <td>
                <input type="number" [(ngModel)]="city.cityID">
            </td>
        </tr> -->
        <tr>
            <td>City Name</td>
            <td>
                <input type="text" [(ngModel)]="city.cityName">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button (click)="addCity()">Add</button>
            </td>
        </tr>

    </table>
</div>